<div clas="advancedSearch" id="advanced-search">
    <div class="box-top"><span class="white">Busqueda</span> <span class="color">avanzada</span></div>
    <div class="box-box">
        <h3 class="box-title">Búsqueda avanzada</h3>
        <div class="box-content">
            <p class="box-text">Puedes buscar por:</p>
            <form class="box-form" action="/">
                <div class="box-field">
                    <label class="box-label">Texto *</label>
                    <input name="search" type="text" class="box-input" required />
                    <div class="box-field">
                        <label class="box-label">Categoria *</label>
                        <select name="category" class="category-select">
                            <option disabled selected>Categoria</option>
                            <% categories.forEach((category) => { %>
                                <option value="<%=category.shortName%>"><%=category.name%></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="box-field not-label">
                        <button class="button-submit">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>