<div id="home">
    <% if (posts.length > 0) {%>
        <% posts.forEach((post) => { %>
            <%- include('post', {post}) %>
        <% }); %>
        <% if (needPagination) { %><%- include('pagination') %><% } %> 
    <% } else { %>
        <div class="noPostsYet">Ups.. parece que aqui aun no hay posts</div>
    <% } %>
</div>