<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
    <title><%= titleWeb %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="El Pantu">
	<link rel="stylesheet" href="./css/style.css">
</head>