<div class="header">
    <div class="header-container">
        <div class="logo"><a href="/"><img src="../images/logo.png" alt="Onde ta mi imagen?"></a></div>
        <div class="bubble">It's just<br>a copy</div>
        <div class="about">Asquito de vida recoge anécdotas que han arruinado tu día.
            ¿Por qué hacer una copia de Asco de vida? facil. Necesito trabajar :D
            Tu desgracia puede ser nuestra gracia. <small>¡Envíanos tu ADV, es fácil, rápido y sin registro!</small>
        </div>
        <div class="header-menu">
            <ul>
                <li><a href="/">Últimos publicados</a></li>
                <li><a href="?type=1">Mejores</a></li>
                <li><a href="?type=2">Merecidos</a></li>
                <li><a href="?sort=aleatorio">Aleatorio</a></li>
                <li class="white"><a onclick='changeDisplay("add-content")'>Publicar ADV</a></li>
                <li class="special"><a>Moderar</a></li>
            </ul>
        </div>
    </div>
</div>
<script src="./js/changeDisplay.js"></script>